<div class="container-fluid " style="min-height: 90%;">
    <div class="fondo-tienda">
        <mat-card class="mat-card-tienda">
            <mat-card-header class="bg-info" style="box-shadow: 1px 1px 1px #888888;">

                <div class="container-fluid row ">
                    <div class="col-sm-12" style="text-align: center;">
                    <span style="font-size: 30px;">
                        <mat-icon aria-hidden="false"  aria-label="Example home icon" >
                        store</mat-icon>
                        Tienda Virtual
                    </span>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content style="padding: 2%">
            <mat-card class="mat-card-tienda">
               
               
                 
                <div class="row">
                    <div  class="col-sm-3">
                        <h1 style="text-align:center; margin-top:8%;">Catalogo De Productos</h1>
                    </div>
                    <div class="col-sm-9" style="align-items:center; text-align:center; ">
                        <div class="">
                                <mat-form-field appearance="outline" style="width:80%">
                                  <mat-label>Escriba Para Buscar El Producto</mat-label>
                                  <input matInput placeholder="Categoria Del Producto">
                                  <mat-icon matSuffix>search</mat-icon>
                                  <mat-hint>Ingrese el producto que desea buscar</mat-hint>
                                </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
            <p></p>



            <div class="row">
                <div *ngFor="let product of pList" class="col-sm-4 " style="padding:1%">
                    <mat-card class="mat-card-tienda " style="width:100%">
                        <mat-card-header class="bg-info" style="height: 3px; ">
                        </mat-card-header>
                        <div class="contenedorProducto" >
                            <div class="row">
                                <div class="col-sm-9" style="text-align:center; display: -webkit-inline-box;">
                                    <h1 style="font-weight: bold">
                                        {{product.nombre}}
                                    </h1>
                                    <input style="width: 60px; margin-left: 40%;" min={{product.value}} #name value={{product.value}} class="quantity-input" type="number"/>
                                </div>
                                <div class="col-sm-3">
                                    <button (click)="agregarCarrito(product, name.value)" 
                                    mat-fab color="basic" style="outline: none !important; background-color:	#5bc0de;" >
                                    <mat-icon>shopping_cart</mat-icon>
                                  </button>
                                </div>
                            </div>
                            <hr class="solid">
                            <p style="text-align:justify; text-justify: inter-word;">
                                {{product.descripcion}}
                            </p>
                            <div class="contenedorProducto" >
                                <img style="width:100%; max-height: 300px; min-height: 300px" 
                                src={{product.imagen}}
                                 alt="Imagen Producto">
                            </div>
                            <hr class="solid">
                            <p style="text-align:center; font-weight: bolder;">
                                Q {{product.precio}}
                            </p>
                        </div>
                    </mat-card>
                </div>


            </div>

        </mat-card-content>

        </mat-card>
    </div>
</div>