<div class="container-fluid " style="min-height: 90%;">
    <div class="fondo-tienda">
        <mat-card class="mat-card-tienda">
            <mat-card-header class="bg-info" style="box-shadow: 1px 1px 1px #888888;">

                <div class="container-fluid row ">
                    <div class="col-sm-12" style="text-align: center;">
                    <span style="font-size: 30px;">
                        <mat-icon aria-hidden="false"  aria-label="Example home icon" >
                        store</mat-icon>
                        Tienda Virtual
                    </span>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content style="padding: 2%">
            <mat-card class="mat-card-tienda">
               
                <mat-card-header class="bg-info" style="height: 20px; box-shadow: 1px 1px 1px #888888;">
                </mat-card-header>
                 
                <div class="row">
                    <div class="col-sm-3">
                        <h1 style="text-align:center; margin-top:8%;">Catalogo De Productos</h1>
                    </div>
                    <div class="col-sm-9" style="align-items:center; text-align:center; ">
                        <div class="">
                                <mat-form-field appearance="outline" style="width:80%">
                                  <mat-label>Escriba Para Buscar El Producto</mat-label>
                                  <input matInput placeholder="Categoria Del Producto">
                                  <mat-icon matSuffix>search</mat-icon>
                                  <mat-hint>Ingrese el producto que desea buscar</mat-hint>
                                </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
            <p></p>



            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="mat-card-tienda">
                        <mat-card-header class="bg-info" style="height: 20px; box-shadow: 1px 1px 1px #888888;">
                            hola
                        </mat-card-header>
                        Cuerpo
                    </mat-card>
                </div>

                <div class="col-sm-4">
                    <mat-card class="mat-card-tienda">
                        <mat-card-header class="bg-info" style="height: 20px; box-shadow: 1px 1px 1px #888888;">
                            hola
                        </mat-card-header>
                        Cuerpo
                    </mat-card>
                </div>


                <div class="col-sm-4">
                    <mat-card class="mat-card-tienda">
                        <mat-card-header class="bg-info" style="height: 20px; box-shadow: 1px 1px 1px #888888;">
                            hola
                        </mat-card-header>
                        Cuerpo
                    </mat-card>
                </div>

            </div>

        </mat-card-content>

        </mat-card>
    </div>
</div>