
<div>
<mat-drawer-container class="sidebar-container" fullscreen>
  <div>
    <nav class="navbar navbar-dark bg-info efreshnavbar"   >
      <mat-icon class="menu-icon-landing" (click)="drawer.toggle()">menu</mat-icon>
      <a class="navbar-brand texto-navbar"routerLink="/">
        <img src="../assets/hoja.png" width="30" height="30" class="d-inline-block align-top" alt="">
        e-Fresh
      </a>
      
      <button *ngIf="showLogin" class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
      <button *ngIf="!showLogin" class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      
    </nav>
    </div>




    <!-- Sidebar -->
    <mat-drawer #drawer class="sidebar-sidenav fondo-sidebar" mode="over">
      <div class="navbar-brand texto-navbar">
        <img src="../assets/hoja.png" width="30" height="30" class="d-inline-block align-top" alt="">
        e-Freshq
        
      </div>
      <div class="text-center container sm-6">
        <button *ngIf="!showLogin" type="button" class="btn btn-light botones-side" routerLink="/cart">Mi Carrito</button>
        <button type="button" class="btn btn-light botones-side" routerLink="/store">Mi Tienda</button>
        <button *ngIf="!showLogin" type="button" class="btn btn-light botones-side" routerLink="/home">Mi Perfil</button>
        <button *ngIf="!showLogin" type="button" class="btn btn-light botones-side" routerLink="/pedidos">Mis Pedidos</button>

      </div>
      
    </mat-drawer>
    
  


    <router-outlet></router-outlet>
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-info footer-fondo">Todos Los Derechos Reservados © e-Fresh 2021
    </div>
    <!-- Copyright -->
  
  </footer>
  </mat-drawer-container>
</div>