<div class="container" style="min-height: 90vh;" >
    <div class="row">
        <div class="col-sm-8" style="padding:1%;">
            <mat-card>
                <h1>Mis Ultimos 10 Pedidos</h1>
            </mat-card>
            <mat-card style="margin-top:2%;">
                <h1>Mis Recomendaciones</h1>
            </mat-card>
        </div>
        <div class="col-sm-4 " style="padding:1%; text-align:center; ">
            <mat-card>
                <h1>Panel De Usuario</h1>
                <hr class="solid">
                <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
                <hr >
                <h3>TEL: {{usuario.telefono}}</h3>
                <hr >
                <h3>{{usuario.direccion}}</h3>
                <hr >
                <h3>{{usuario.correo}}</h3>
                <hr >
                <h1>Estadisticas Pedidos</h1>
                <hr class="solid">
                <h3>Pedidos Realizados </h3>
                <hr >
                <h3>Producto Favorito </h3>
                <hr >
                <h3>Categorias Favoritas </h3>
                <hr >
            </mat-card>
        </div>
    </div>
</div>
