<div>
  <nav class="navbar navbar-dark bg-info" style="justify-content: space-between;">
    <a class="navbar-brand"routerLink="/">
      <img src="../assets/hoja.png" width="30" height="30" class="d-inline-block align-top" alt="">
      e-Fresh
    </a>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
  </nav>
  
  <router-outlet></router-outlet>
  
  
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© e-Fresh 2021
    </div>
    <!-- Copyright -->
  
  </footer>
</div>